@use '../mixins/mixins.scss' as mix;
/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.menu{
  position: relative;
  display: inline-block;
  height: 80%;
}

.header__logo{
  height: 80%;
}

.menu__button {
  display: flex;
  background-color: #32fe2180;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  height: auto;
  display: flex;
  align-content: center;
  & i{
    color: #f7af0c;
  }
}

.menu__button:hover {
  background-color: #32fe2180;
}

.menu__button--submenu {
  display: none;
  position: absolute;
  background-color:(#f7af0c80);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  right: 0%;

  & li a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }
}

.menu__button--submenu li a:hover {
  background-color: #ddd;
}

/* Clase para mostrar el submenú */
.menu__button--submenu.show {
  display: block;
}

@include mix.desktop-large {

  .menu__button--submenu {
  min-width: 10vw;
  min-height: 10vh;
  & li a{
   font-size: 2em;
  }

}

  
}