

@mixin flexcontainer ($width,$height,$align,$justify){
    width: $width;
    height: $height;
    align-items: $align;
    justify-content: $justify;
    display: flex;
    box-sizing: border-box;
    @content    
}

@mixin gridcontainer ($rows,$columns){
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    grid-auto-columns:1fr ;
}

@mixin textProperties($color,$size,$font){
    color: $color;
    font-size: $size;
    font-family: $font;
    @content
}

@mixin buttonsProperties{
    display: inline-flex;
    align-items: center;
    position: absolute;
    padding: 0 px 5px;
    background-color: #131312;
    opacity: 0.8;
    border-radius: 50%;
    @content

}

@mixin phones{
    @media screen and (max-width:412px){
        @content
    }
}