@use '../mixins/mixins.scss' as mix;
.about_us{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    height: 100%;
    width: 100%;
    
    & div{
        margin: 5px;
        padding: 10px;
        //box-sizing: border-box;
    }
   
}

.about_us--spanish{
    background-color: (#32fe2180);
    width: 95%;
}
.about_us--english{
    background-color: (#f7af0c80);
    width: 95%;
}


#logo-ax{
    height: 35%;
}

@include mix.phones{
    .about_us{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .about_us--spanish{
        width: 80%;
    }
    .about_us--english{
        background-color: (#f7af0c80);
        width: 80%;
    }

    #logo-ax{
    width: 50%;
}

    footer{
        min-height: 5%;
    }

}

@include mix.monitor{
      .about_us{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
        .about_us--spanish{
            width: 80%;
            height: auto;
    }
        .about_us--english{
            background-color: (#f7af0c80);
            width: 80%;
            height: auto;
    }

        #logo-ax{
        width: 30%;
    }

        footer{
            min-height: 15%;
    }

}