@use './mixins/mixins.scss' as mix;
@use './button/button.scss';
@use './carusel/carusel.scss';
body{
    background-image: url("../global/FONDO.png");   
    
}

nav{
    background-color: rgba(50, 254, 33, 0.85);
    @include mix.flexcontainer(100%,6vh,center,space-between);
    margin-bottom: 20px;
}


.nav_menu{
    background-color: (#32fe2180);
    border-radius: 3px;
    width: 5vw;
    height: 5vh;
    
}

#barras{
    color: (#f7af0c);
}

  
    