@use './mixins/mixins.scss' as mix;
@use './button/button.scss';
@use './carusel/carusel.scss';
@use './music_player/music_player.scss';
@use './cinta/cinta.css';
@use './menu_compras/menu_compras.scss';
@use './about_us/about_us.scss';
@use './store_function/store_function.scss';


html{
    width: 100%;
    height: 100%;
    
}
body{
    background-image: url("../global/FONDO.png");   
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

header{ 
    background-color: (#32fe2180);
    @include mix.flexcontainer(100%,100%,center,space-between); 
    height: 5%;
}


footer{
    width: 100%;
    height: auto;
    background-color: (#32fe2180);
    font-family: monospace;
    font: 400;
    font-size: 0.6rem;

    & article{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & img{
        height: 5vh;
    }
}

//  RESPONISVE DESIGN PHONES *********************************************************************************///
@include mix.phones{
body{
   background-size: cover;
   background-repeat: no-repeat;    
}

header{
    height: 8%;

}

footer{
    width: 100%;
    height: auto;
    background-color: rgba(50, 254, 33, 0.85);
    font-family: monospace;
    font: 400;
    font-size: 0.6rem;
    & div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & img{
        height: 5vh;
    }
}  


}

/// Desktop grande (≥ 1440px) - Monitores externos grandes
@include mix.desktop-large {
    .menu{
        width: 5%;
    }
    header{
        height: 10%;
    }
    .menu__button{
    height: 100%;
    width: 100%;
    & i{
        font-size: 4em;
    }
    }

    footer{
        & p{
            font-size: 1.5rem;
        }
    }
}